.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.color-sena
  border-left-color: #FF6B00 !important

.color-gris
  background-color: #EFEFEF !important

//Custom del banner principal

.banner-principal .tarjeta
  background-image: none !important
  background-color: #EFEFEF

.banner-principal  p,h1
  color: #212529 !important

// Introduccion

.fondo1
  background-image: url("../assets/curso/introduccion/fondointro.png")
  background-repeat: no-repeat
  background-position: top left
  background-color: $color-adicional-1

@media screen and ( max-width: 767px )
  .fondo1
    background-image: none !important

  .img-250
    width: 300px !important
    justify-content: center!important
    display: block
    margin: 0 auto
    margin-top: 3rem


.cajon.color-primario 
  &:before 
    background-color: #CFBDB0;

.opacidad
  background-color: #E1E4E9 !important

.img-cen
    width: 400px
    justify-content: center!important
    display: block
    margin: 0 auto

.img-250
    width: 450px 
    justify-content: center!important
    display: block
    margin: 0 auto
    margin-top: 3rem

.fnd-izq
  background-color: #A2E6B0 !important  
  &:before 
      background-color: #E1E4E9!important
      left: 50% !important

// Color de las tarjetas tema 1

.tarjeta--boton
  background-color: #C5E3FC 

  //color de la nota ""

.color-nota
  background-color: #CFE8FE !important

.bloque-texto-f__comillas i
  color: #FECA2E !important


// Estilos tarjeta animada

// color tarjeta final

.color-fondot
  background-color: #E8F4FE !important
.img-final
  width: 120px !important

  // tema 2

.infografica-b__item__dot
  &:before 
    background-color: #A2E6B0 !important

.tarjeta.acordeonA
  background-color: #DFEAF1

.acordion__accion__btn--a
  background-color: #A2E6B0 !important

.acordion__activo
  background-color: #fdf3e1 !important

// imagenes finales
.img-linea
    width: 350px 
    justify-content: center!important
    display: block
    margin: 0 auto
    margin-top: 1rem

.color-fondolinea
  background-color: #E1F1FD !important

.alineacion
  justify-content: center!important
  display: block
  margin-left: 7.1rem
  margin-top: 1rem

  





